{% load static %}
<!doctype html>
<html lang="ru-ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="canonical" href="https://t.me/tatunew">

    <title>{% block title %} Новости со всего мира {% endblock %}</title>
  </head>
  <body>

    {% include 'inc/_nav.html' %}

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-3">
          {% block sidebar %} SIDEBAR {% endblock %}
        </div>
        <div class="col-md-9">

          {% if messages %}

            {% for message in messages %}

              {% if message.tags == 'error' %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
              {% else %}
                <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
              {% endif %}

            {% endfor %}

          {% endif %}

        {% block content %} CONTENT {% endblock %}
          {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              {% for p in page_obj.paginator.page_range %}
                {% if page_obj.number == p %}
                  <li class="page-item active" aria-current="page"><a class="page-link" href="#"><span class="sr-only">{{ p }}</span></a></li>
                {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                  <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
          {% endif %}
        </div>
      </div>
    </div>
    <footer class="py-5 px-5">
    <div class="row">
      <div class="col-2">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{% url 'home' %}" class="nav-link p-0 text-muted">Главная страница</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>qqq</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-2">
        <h5>Section</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
        </ul>
      </div>

      <div class="col-4 offset-1">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of whats new and exciting from us.</p>
          <div class="d-flex w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>
    <div class="d-flex justify-content-between py-2 my-2 border-top">
      <p>© 2022 Company, Inc. All rights reserved. BACK-END from Python Django. FRONT-END from Bootstrap</p>
    </div>
      <p class="text-muted text-center">Дизайн (шаблон), изображения и текст сайта являются интеллектуальной собственностью Икрама. Копирование элементов данного сайта полностью или частично запрещено, может преследоваться в случае нарушения! (Статья 146 Уголовного Кодекса Республики Каракалракстана)</p>
    </footer>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>